.foodList {
    display: flex;
    flex-direction: row;
    
}

.foodCard {
    border: 1px solid red;
    padding: 1%;
    margin: 1%;
}

ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.5em;
}

